<template>
  <div id="Produit">
    <router-link
        class="link"
        :key="index"
        v-for="(produit, index) in produits"
        :to="{name: 'ShowShip', params: {id:index}}"
    >
      {{ produit.name }}
    </router-link>
  </div>

</template>

<script>
export default {
  name: "Produit",
  data () {
    return {
      produits: [
        {
          "name": "Pruneau",
          "price": "1.0.0",
          "description": "Blablabla"
        },
        {
          "name": "Pèche",
          "price": "1.0.0",
          "description": "Blablabla"
        },
        {
          "name": "Pomme",
          "price": "1.0.0",
          "description": "Blablabla"
        },
        {
          "name": "Banane",
          "price": "1.0.0",
          "description": "Blablabla"
        },
      ]
    }
  },

}
</script>

<style scoped>

</style>