<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <v-toolbar-title>{{ school }}</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <div class="text-center pa-10">Bienvenue sur FiveADay</div>
        <div class ="input text-center"><input type="text" v-model="utilisateur" placeholder="Nom d'utilisateur"></div>
        <div class ="input text-center"><input type="password" v-model="mdp" placeholder="Mot de passe"></div>
        <div class ="bouton text-center pa-10"><button type="button" v-on:click="gotosite(modalDetails.final.test_url)">Connexion</button></div>
      <router-link :to=Home>ConnexionHandler</router-link>
    </v-main>
  </v-app>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import Home from "../views/Home";
export default {
    name: "ConnexionHandler",
    data() {
      return { school: "MyDigitalSchool" };
    },
    methods : {
    gotosite(ConnexionHandler){
    this.window.location.href = ConnexionHandler
    },
  },
}
</script>
 