

<template>
  <v-app>
    <v-app-bar app color="primary" dark>
    </v-app-bar>
    <v-main>
      <router-link to="ConnexionHandler">ConnexionHandler</router-link>
      <router-link to="Produit">Catalogue</router-link>
      <router-link to="Outils">Outils</router-link>
      <router-link to="Panier">Panier</router-link>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: "Home",

};
</script>